<!doctype html>
<html>
<head>
    <title>Home</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<div class="content">
<body>
    <h1 class="h1s">Welcome to the home page!</h1>
    
    <hr>
    
    {% for student in students %}
    <p class="para">
	    Name: <a href="{{url_for('display_student', student_id=student.student_id)}}">{{student.name}}</a><br>
	    Class: {{student.year}}<br>
	    Finished Lab: {{student.finished_lab}}
    </p>
    {% endfor %}

</body>
</div>
</html>
