<!doctype html>
<html>
<head>
    <title>Student: {{ student.name }}</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
</head>
<div class="content">
<body>
	<form action="/delete/{{student.student_id}}" method="POST" id="del_button">
		<input type="submit" value="delete">
	</form>
    <h1 class="h1s">{{ student.name }}</h1>
	<p class="para">
	Student Id: {{student.student_id}}<br>
	Class: {{student.year}}<br>
	Finished Lab: {{student.finished_lab}}
	</p>
    <p class="link"><a href="{{url_for('home')}}">Home</a></p>
</body>
</div>
</html>
